/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --nav-bg: rgb(77, 77, 77);
    --nav-text-color: white;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 90px;
    overflow: hidden;
}


/* conteúdo */

.content {
    overflow: auto;
}


/* navegação inferior */

.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    background-color: #48CAE4;
}

.bottom-nav,
.bottom-nav * {
    /* border: solid 1px; */
    border: none;
}

.bottom-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.bottom-nav ul li {
    list-style: none;
}

.bottom-nav ul li:hover {
    filter: brightness(1.2);
}

.bottom-nav a {
    text-decoration: none;
    color: inherit;
    padding: 1em;
    background-color: #0077B6;
    border-radius: 10px;
    color: #CAF0F8;
    cursor: pointer;
}


/* Pokemons */

#lista-pokemons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10vw;
}

#lista-pokemons div {
    flex: 0 1 15em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    align-items: center;
    background-color: #cecece;
    border-radius: 1em;
    cursor: pointer;
}

#lista-pokemons div:hover {
    filter: brightness(1.1);
}

#lista-pokemons div p {
    text-transform: capitalize;
}